<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML+RDFa 1.0//EN"
        "http://www.w3.org/MarkUp/DTD/xhtml-rdfa-1.dtd">
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Bytes Templar {% if title %} - {{ title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="/assets/images/favicon.png" type="image/png" />


    <meta name="viewport" content="width=device-width" />
    <link type="text/css" rel="stylesheet" href="/styles/main.css">
    <link type="text/css" rel="stylesheet" href="/styles/mobile/mobile.css" media="screen and (max-width:700px)" />
    <link type="text/css" rel="stylesheet" href="/styles/desktop/desktop.css" media="screen and (min-width:701px)" />
</head>

<body>
    {% block header %}{% include '../partials/_header.twig' %}{% endblock %}
    <div id="Content">
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </div>
    {% include "../partials/_footer.twig" %}
	<script src="/scripts/vendor/welcome.min.js"></script>
</body>

</html>
