{% set title = "Birthday Card" %}

{% extends '../../../layout/software.twig' %} 

{% block main_image %}/assets/images/software/other/birthdaycard/birthdaycard.jpg{% endblock main_image %}

{% block description %}
<p>Simple 2D animated birthday card using Unity.</p>

<p>Artwork and code are mine. Music is by <a href="https://soundcloud.com/fco_rmz/p4ko-happy-birthday-8-bit-version">Francisco Ramírez</a>. <i><small>(Used without permission.)</small></i></p>

{% endblock description %}
{% block links %}
<ul>
    <li><a href="http://bytestemplar.com/misc/unity/birthday/">View it online (WebGL)</a>
</ul>
<div class="play-it-block">
    <a class="badge_github" title="Fork it on GitHub!"href="https://github.com/Fortyseven/BirthdayCard"><div></div></a>
</div>
{% endblock links %}