{% set title = "Brownian" %}

{% extends '../../../layout/software.twig' %} 

{% block main_image %}/assets/images/software/other/brownian/brownian.jpg{% endblock main_image %}

{% block description %}
<p>So, I probably got this VERY wrong. I was fascinated by the idea of <a href="https://en.wikipedia.org/wiki/Brownian_motion">Brownian motion</a>, and wanted to see if 
    I could approximate the concept in Unity. My naivety will probably make for a decent chuckle among the 
    science minded, but I still enjoyed the results. :)</p>

{% endblock description %}
{% block links %}
<ul>
    <li><a href="http://bytestemplar.com/misc/unity/brownian/">Try it! (WebGL)</a>
</ul>
<div class="play-it-block">    
    <a class="badge_github" title="Fork it on GitHub!"href="https://github.com/Fortyseven/brownian/tree/develop"><div></div></a>
</div>
{% endblock links %}