{% set title = "Max" %}

{% extends '../../../layout/software.twig' %} 

{% block main_image %}/assets/images/software/other/max/max.jpg{% endblock main_image %}

{% block description %}
<p>Just a quick toy. Retextured an existing model off the Asset Store to...vaguely resemble Max Headroom. At 
    some point, I'd love to get an actual animated mouth, and sync it up with content. Maybe even get a 
    text-to-speech interface going.</p>
<p>But for now, it's just a floating head and torso with an animated background. No more, no less.</p>
{% endblock description %}
{% block links %}
<ul>
    <li><a href="http://bytestemplar.com/misc/unity/max/">WebGL (broken on Chrome)</a>
    <li><a href="http://bytestemplar.com/misc/unity/max/max.zip">Win32</a>
</ul>
{% endblock links %}