{% set title = "About" %}

{% extends "../layout/basic_page.twig" %} 

{% block inner_content %}
<div class="about-page">
    <h1 class="software-section-name">About</h1>
    <img src="https://s.gravatar.com/avatar/709a8886f0c057bf085f395eb16a1a51?s=200" align="right" />
    <span class="justify">
        <p>Toby Deshane has been a professional web and desktop application developer since 2003, and programming as a hobby since the late 80s.</p>
        <p>He has a wide and varied passion for programming and IT in general, using the 'Bytes Templar' brand for his projects.</p>
        {#<p>Currently, Toby is looking for contract work, or a paid position in a game or web development role.</p>#}
        {#<p>Interested in the details? Here's his <a href="http://bytestemplar.com/resume.pdf">current resume</a>.</p>#}
        <p>Currently, Toby is a developer for <a href="https://iinteractive.com/">Infinity Interactive</a>. They're a talented group of developers 
        and consultants who know tech inside and out!</p>
        <p>What problems can they solve for you?</p>
    </span>
    <h2>Contact</h2>
    <ul>
        <li>Email - <a href="mailto:tobyd@bytestemplar.com">tobyd@bytestemplar.com</a></li>
        <li>Twitter - <a href="https://twitter.com/fortyseven">@fortyseven</a></li>
    </ul>
    </blockquote>
    <h2>Further Information</h2>
    <ul>
        <li><a href="https://www.linkedin.com/in/fortyseven">LinkedIn</a></li>
        <li><a href="https://careers.stackoverflow.com/fortyseven">Careers 2.0</a></li>
        <li><a href="https://soundcloud.com/fortyseven/">SoundCloud</a></li>
        <li><a href="http://voicebunny.com/profile/toby-deshane-Q9QCBK">Voice Bunny</a></li>
    </ul>
</div>
{% endblock inner_content %}