{% set title = "Libs" %}

{% extends "../../../layout/basic_page.twig" %} 
{% import '../_software-macros.twig' as macros %} 

{% block inner_content %}
<h1 class="software-section-name">Libs</h1>
<div class="software-section-container">
    {{ macros.software_entry(
        'TalkTime', 
        'A basic Unity 3D lib-syncing library.', 
        '/software/libs/talktime.html', 
        '/assets/images/software/libs/talktime/talktime.png') }}        
         
</div>
<div align="center">Can't find it here? Check the <a href="/software/attic.html">attic</a>!</div>
{% endblock inner_content %}