{% set title = "BytesTemplar.com" %}

{% extends '../../../layout/software.twig' %} 

{% block main_image %}http://bytestemplar.com/sites/default/files/e0446dcfe5bbd4080a6bf81330a519d920f1fec3%5B1%5D.png{% endblock main_image %} 

{% block description %}
<p>Before moving to a static site generator, this site was written from scratch using the Symfony2 PHP framework, jQuery and Bootstrap, and Drupal.</p>
{% endblock description %} 

{% block links %}
<ul>
    <li><a href="https://github.com/Fortyseven/BT2">Fork one of those versions on GitHub!</a>
</ul>
{% endblock links %}