{% set title = "Drifter" %}

{% extends '../../../layout/software.twig' %} 

{% block main_image %}/assets/images/software/web/drifter/drifter.png{% endblock main_image %}

{% block description %}
<p>Throw down a blocky 8-bit snow storm on top of your favorite website! Includes an optional musical jingle.</p>
<p>This is actually a remake of an old toy I wrote many years ago. Retooled it using more modern HTML5 techniques, instead of Flash.</p>
{% endblock description %}

{% block links %}
<ul>
    <li><a href="http://bytestemplar.com/misc/drifter/">LET IT SNOW!</a></li>
    <li><a href="http://bytestemplar.com/misc/drifter/?url=http%3A//bytestemplar.com/">Make THIS site more festive!</a></li>
</ul>
<div class="play-it-block">    
    <a class="badge_github" title="Fork it on GitHub!"href="https://github.com/Fortyseven/Drifter"><div></div></a>
</div>
{% endblock links %}