{% set title = "SickMartyr" %}

{% extends '../../../layout/software.twig' %} 

{% block main_image %}/assets/images/software/web/sickmartyr/sickmartyr.png{% endblock main_image %}

{% block description %}
<p>Why send money backing those REAL Kickstarter projects, when you could fund the "Cucumber Vessel" by Jermaine
   Hirthe? Or throw your money at Bogisich's "Pasta Stepmother"?</p> 
<p>No, it doesn't make a lot of sense. But that's what you get when you create random fake Kickstarter projects.</p>
{% endblock description %}

{% block links %}
<ul>
    <li><a href="http://bytestemplar.com/misc/toys/SickMartyr/">Try it!</a></li>
</ul>
<div class="play-it-block">
    <a class="badge_github" title="Fork it on GitHub!"href="https://github.com/Fortyseven/SickMartyr"><div></div></a>
</div>
{% endblock links %}