{% set title = "Synop" %}

{% extends '../../../layout/software.twig' %} 

{% block main_image %}/assets/images/software/web/synop/synop.jpg{% endblock main_image %}

{% block description %}
<p>What happens when two movies on Netflix collide?</p> 

<p>This toy attempts to recreate the famous <a href="http://gizmodo.com/the-best-fake-movies-from-netflixs-summary-screw-ups-1580135749">movie synopsis bug</a> on Netflix. It's not perfect, often unfunny, but it's still being hacked on. Enjoy!</p>

{% endblock description %}
{% block links %}
<ul>
    <li><a href="http://bytestemplar.com/misc/synop/">Find something to watch...</a>
</ul>
<div class="play-it-block">    
    <a class="badge_github" title="Fork it on GitHub!"href="https://github.com/Fortyseven/Synop"><div></div></a>
</div>
{% endblock links %}