{% set title = "ToneDef (HTML5 Edition)" %}

{% extends '../../../layout/software.twig' %} 

{% block main_image %}/assets/images/software/web/tonedefhtml5/tonedefhtml5.jpg{% endblock main_image %}

{% block description %}
<p>This is a port of the Android ToneDef tone dialer to HTML5 using the Web Audio API and AngularJS. Tested with the latest Chrome (desktop and mobile), and Firefox.</p>
{% endblock description %}

{% block links %}
<ul>
    <li><a href="http://bytestemplar.com/misc/apps/tonedef/#/">Try it!</a></li>
</ul>
<div class="play-it-block">    
    <a class="badge_github" title="Fork it on GitHub!"href="https://github.com/Fortyseven/ToneDefWeb"><div></div></a>
</div>
{% endblock links %}