{% set title = "Adventure Framework" %}

{% extends '../../../layout/software.twig' %} 

{% block main_image %}/assets/images/software/games/advframework/advframework.jpg{% endblock main_image %}

{% block description %}
    <p>Borrowed some sprites from the classic adventure series, Sam &amp; Max to create this 
        work-in-progress of an adventure game engine for use in a future Ludum Dare.</p>

    <p>A fun project, that I hope to get back to at some point!</p>          
{% endblock description %}
{% block links %}
<div class="play-it-block">    
    <a class="badge_github" title="Fork it on GitHub!"href="https://github.com/Fortyseven/AdventureFramework"><div></div></a>
</div>
{% endblock links %}