{% set title = "Galaxy Lanes" %}

{% extends '../../../layout/software.twig' %} 

{% block main_image %}/assets/images/software/games/galaxylanes/galaxylanes.jpg{% endblock main_image %}

{% block description %}
    <p>Yup! Bowling. Completely out of left field for me. The Ludum Dare 30 theme fulfillment of "connected worlds" was intended to 
        be that the bowling balls would all look like planets, and they'd "connect" with the pins down the end. A stretch, I admit it. 
        Unfortunately, this is incomplete. I got a lot done in the 72-hour period, but I did more work with Blender than I'd expected 
        to, among other things.</p>    
{% endblock description %}
{% block links %}
<ul>
    <li><a href="http://galaxylanes.tumblr.com/">Development Blog</a></li>
    <li><a href="http://ludumdare.com/compo/ludum-dare-30/?action=preview&uid=2847">Ludum Dare Project Page</a></li> 
</ul>
<div class="play-it-block">    
    <a class="badge_gamejolt" title="Fork it on GitHub!"href="http://gamejolt.com/games/sports/galaxy-lanes/33217/"><div></div></a>
</div>
{% endblock links %}