{% set title = "TwinBea" %}

{% extends '../../../layout/software.twig' %} 

{% block main_image %}/assets/images/software/games/twinbea/twinbea.jpg{% endblock main_image %}

{% block description %}
    <p>Started as a joke. Evolved into a working mockup. That's right, it's a parody of the classic
       arcade shooter TwinBee by way of TV's Maude: Bea Arthur! The version playable here was an earlier 
       WIP.</p>
    <p>Newer versions include scoring, lives, collisions, etc.</p>            
{% endblock description %}
{% block links %}
<ul>
    <li><a href="http://bytestemplar.com/misc/unity/maude/">Unfinished WIP (WebGL)</a></li>    
</ul>
<div class="play-it-block">    
    <a class="badge_github" title="Fork it on GitHub!"href="https://github.com/Fortyseven/TwinBea"><div></div></a>
</div>
{% endblock links %}