{% set title = "Whack-A-Burster" %}

{% extends '../../../layout/software.twig' %} 

{% block main_image %}/assets/images/software/games/whackaburster/whackaburster.jpg{% endblock main_image %}

{% block description %}
    <p><i>"The Space Marines were pretty clever. With their advanced science, they simply beamed their 
        dead off the battlefield to be recycled into another wave of soldiers. A gruesome and morally 
        questionable mechanism of war, but one that led them to unstoppable success against any threat. 
        The enemy Xenomorphs would prove to be quite a different story. Wild, violent, but spectacularly 
        intelligent, the alien creatures found they could simply nest inside their attacker's chests. 
        This allowed them to follow the dead soldier as they're recycled into new, fresh men... behind 
        enemy lines! Luckily, this cunning tactic was discovered early on. That's where you come in..."</i></p>

        <p>My first ever entry for the Ludum Dare 72-hour game compo. It is, essentially, a glorified (gorified?) 
            whack-a-mole game. It uses a combination of third-party models and textures, and many of my own.</p>            
{% endblock description %}
{% block links %}
<ul>
    <li><a href="http://bytestemplar.com/misc/ld48/29b/Whack.zip">Unity 5.x Windows 32-bit (Intro omitted)</a></li>
    <li><a href="http://bytestemplar.com/misc/ld48/29b/">Unity 5.x WebGL Build (Intro omitted, lighting broken...)</a></li>
    <li><a href="http://www.ludumdare.com/compo/ludum-dare-29/?action=preview&uid=2847">Ludum Dare Project Page</a></li>
    <li><a href="http://bytestemplar.com/misc/ld48/29/">Original LD48 Jam Version (WebPlayer)</a></li>
</ul>
<div class="play-it-block">    
    <a class="badge_gamejolt" title="Fork it on GitHub!"href="http://gamejolt.com/games/arcade/whack-a-burster/30298/"><div></div></a>
</div>
{% endblock links %}