<footer>
    <p>All opinions, links, and software presented here are my own and do not reflect my employer unless otherwise specified.</p>
    <p>&copy; 2014-{{"now"|date("Y")}} Bytes Templar</p>
</footer>