{% block header %}
<header>
    <div class="container">
        <div class="left">
            <a title="Home" href="/">Bytes Templar</a>
        </div>
        <nav class="right">
            <ul class="menu">
                {% include '../partials/_nav.twig' %}
            </ul>
        </nav>
    </div>
</header>
{% endblock %}