{% block nav %}
<li class="leaf"><a href="/about.html" title="">About</a></li>{#<li class="leaf"><a href="/software/apps" title="Apps">Apps</a></li>#}
<li class="leaf"><a href="/software/games" title="Games">Games</a></li>
<li class="leaf"><a href="/software/mobile" title="Mobile">Mobile</a></li>
<li class="leaf"><a href="/software/libs" title="Libs">Libs</a></li>
<li class="leaf"><a href="/software/web" title="Web">Web</a></li>
<li class="leaf"><a href="/software/other" title="Other">Other</a></li>
{% endblock %}