{% set title = "Dobbsface" %}

{% extends '../../../layout/software.twig' %} 

{% block main_image %}/assets/images/software/mobile/dobbsface/dobbsface.jpg{% endblock main_image %}

{% block description %}
<p>Slack-infused master of sales <a href="https://en.wikipedia.org/wiki/J._R._%22Bob%22_Dobbs">J.R. "Bob" Dobbs</a> took a wrong turn at Albuquerque, but it turned out for the best: now he 
    lives rent-free inside your <a href="https://www.android.com/wear/">Android Wear</a>-powered wrist-watch! Carry him 
    around, talk sweetly to him, and maybe he'll pay you back with the favor of <b><i>{{ '{{{{' }}TIME 
    CONTROL!!{{ '}}}}' }}</b></i></p> 

<p>What's more: tap the watch face to see how long you have left until JULY 5TH 1998 -- THE ABSOLUTE FINAL END OF THE WORLD! </p>

<p>If haven't yet shown "Bob" the green, you'll at least know how long you have left until you fry with the rest of the Pinks, 
    instead of being whisked away at 7:00 AM on the pleasure saucers!</p>

<p><small><i>[NOTE! This watch face is in NO WAY endorsed, published, or supported by The Church of the SubGenius&trade;, and 
    is purely a fan creation. For more information about the church, visit <a href="http://subgenius.com/">SubGenius.com</a>!]</i></small></p>

{% endblock description %}
{% block links %}
<div class="play-it-block">    
    <a class="badge_googleplay" title="Get it on the Google Play Store!"href="https://play.google.com/store/apps/details?id=com.bytestemplar.subgeniuswatchface"><div></div></a>
    <a class="badge_github" title="Fork it on GitHub!"href="https://github.com/Fortyseven/Dobbsface"><div></div></a>
</div>
{% endblock links %}