{% set title = "The Podtoid Aural Extrusion" %}

{% extends '../../../layout/software.twig' %} 

{% block main_image %}/assets/images/software/mobile/podtoid/podtoid.jpg{% endblock main_image %}

{% block description %}
<p><b>WARNING: VERY MUCH NSFW!</b></p> 

<p>Despite all reason, you can now carry around a fraction of your favorite sound bites from Destructoid's 
    classic <a href="http://podtoid.wikia.com/wiki/Podtoid_Wiki">Podtoid</a> podcast with you everywhere...simply 
    because you can! Now, you too can share my massive guilt of only having a handful of Conrad Zimmerman clips, 
    while <a href="http://www.thejimquisition.com/">Jim Sterling</a> dominates the list. <i>The bloody bastard.</i></p>

<p>Features clips from "The Lust Gurney", "The Spidered Man", and more!</p>
{% endblock description %}
{% block links %}
<div class="play-it-block">    
    <a class="badge_googleplay" title="Get it on the Google Play Store!"href="https://play.google.com/store/apps/details?id=com.hacsoft.thepodtoidauralextrusion"><div></div></a>
</div>
{% endblock links %}