{% set title = "VK Launcher" %}

{% extends '../../../layout/software.twig' %} 

{% block main_image %}/assets/images/software/mobile/vk/vk.jpg{% endblock main_image %}

{% block description %}
<p>Launch apps by saying your favorite phrase or word!</p>

<p>VK Launcher lets you harness the power of Google Voice Search to start any application on your Android 
    device by saying a keyword that you define. An unlimited amount of keywords can be created and backed 
    up to external storage. VK can be useful for quick access to commonly used applications, keeping you 
    from having to hunt down the app on your home screen, or app drawer.</p>

<p><i><small>Side note: This app was written before Google Now came out, which contains similar (but not the 
    same) functionality. This application is mostly useful on older devices that do not support Google 
    Now.</i></small></p>

<blockquote><b><p>IMPORTANT! This application was wrongfully taken down from the Play Store by Google, 
    claiming it facilitated access to "Gambling Websites". This is patently wrong, and despite my 
    attempts to appeal or get anyone to even talk to me about this, VK Launcher seems to be down 
    for good on the Google Play Store. This even impacts the paid users.</b></p> 

<p>In response to this, I have begun the process of opening up the source code to the application, 
    and removing all of the trial/paid code, leaving it free for everyone to use! Instead of it 
    being hosted on Google Play, it will soon be made available on F-Droid.</p>

<p>Thank you to everyone who threw some coins my way, and apologies for Google's blind, seemingly 
    automated insanity.</p></blockquote>    
{% endblock description %}
{% block links %}
{#<ul>
    <li><a href="https://play.google.com/store/apps/details?id=com.hacsoft.vk.trial">Google Play Store (Trial Version)</a>
    <li><a href="https://play.google.com/store/apps/details?id=com.hacsoft.vk">Google Play Store (Full Version)</a>
</ul>#}
{% endblock links %}