{% set title = "Attic" %}

{% extends "../../layout/basic_page.twig" %}

{% block inner_content %}
    <h1 class="software-section-name">Attic</h1>
    <p>Here are some older projects, saved here for posterity.</p>
    <h2>Games</h2>
    <ul>
        <li><a href="/software/games/whack-a-burster.html">Whack-A-Burster</a> - My inaugural Ludum Dare game jam entry. It's just whack-a-mole...in space.</li>
        <li><a href="/software/games/galaxy-lanes.html">Galaxy Lanes</a> - Yup. It's bowling. Barely.</li>
        <li><a href="/software/games/adventure-framework.html">Adventure Framework</a> - A WIP 2D adventure game.</li>        
        <li><a href="/software/games/twinbea.html">TwinBea</a> - An unfinished 2D shooter parody involving...TV's Maude?</li>        
        <li><a href="/software/games/chips-escape.html">Ch1p5 Escape!</a> - My first real game. Unfinished, of course.</li>
    </ul>
    <h2>Mobile</h2>
    <ul>
        <li><a href="/software/mobile/vklauncher.html">VK Launcher</a> - Launch Android apps by saying your favorite phrase or word!</li>
    </ul>
{% endblock inner_content %}